:root {
  --branding-colour: #6c63ff;
  --secondary-colour: #f9f7fe;
  --heading-font: "Playfair Display", serif;
  --default-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-family);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
h3 {
  display: auto block;
}
p {
  font-weight: normal;
}
.hero {
  background: var(--secondary-colour);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: #272142;
}
.btn-branding {
  background-color: var(--branding-colour);
  color: #ffff;
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
}
.btn-branding-outline {
  color: var(--branding-colour);
  border: 1px solid var(--branding-colour);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.introduction {
  text-align: center;
  line-height: 2;
  margin: 20px;
}
.project-desciption {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }
  .row {
    text-align: center;
  }

  .col-lg-6 {
    margin-bottom: 30px;
  }

  .hero {
    padding: 80px 20px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.02);
}
